@media (min-width: 576px) {
	.container {
		height: 80vh;
		width: 80vh !important;
	}
}
@media (max-width: 576px) {
	.container {
		width: 90vw !important;
		height: 90vw;
	}
}
@font-face {
	font-family: AD;
	src: url(./ArchitectsDaughter-Regular.ttf);
}
.ad {font-family: AD;}

:root {
	--color-bg: #e1e2d1;
	--color-bg-1: #fff;
	--color-bg-2: #fff;
	--color-text: #000;
	--color-text-r: #fff;
	--color-text-h: #fc2718;
	--color-header: #779878;
	--color-primary: #5e8996;
	--color-primary-h: #7ea9b6;
	--color-secondary: #999da1;
	--color-shine: #ffff7ece;
	--color-shine-1: #779878bd;
	--color-oo: red;
	--color-xx: blue;
	--color-win-oo: #eb8080a2;
	--color-win-xx: #8aacec9d;
	--opacity-s: 1;
	--opacity-m: 1;
	--opacity-l: 1;
}
.dark {
	--color-bg: #333333;
	--color-bg-1: #555555;
	--color-bg-2: #707070;
	--color-text: #fff;
	--color-text-r: #000;
	--color-text-h: #f3f347;
	--color-header: #070707;
	--color-primary: #43a7c5;
	--color-primary-h: #4ad2fc;
	--color-shine: #5e8996;
	--color-shine-1: #fcfcad71;
	--color-oo: #ff2424;
	--color-xx: #5fa55f;
	--color-win-oo: #ff4f4f21; 
	--color-win-xx: #55fd5521;
	--opacity-s: 0.38;
	--opacity-m: 0.6;
	--opacity-l: 0.87;
}


/****************** Layout setting ******************/
html, body, #app {
	margin: 0;
	height: 100%;
}
#app {
	color: var(--color-text);
	background-color: var(--color-bg);
}
.main {
	padding-top: 5rem;
	height: 100%;
	opacity: var(--opacity-l);
}
.header {background-color: var(--color-header);}
.text-high {color: var(--color-text-h);}

/****************** Element Color setting ******************/
/******** Modal *********/
.modal-content {background-color: var(--color-bg-1) ;}
.link-dark {color: var(--color-text);}
.btn-x {color: var(--color-text);}
.bi-clipboard, .bi-check, .title {color: var(--color-primary);}
/******** Buttons *********/
.btn-primary {
	color: var(--color-text-r);
	background-color: var(--color-primary);
	border-color: var(--color-primary);
}
.btn-primary:hover {
	color: var(--color-text-r);
	background-color: var(--color-primary-h);
	border-color: var(--color-primary-h);
}
.btn-primary:focus {
	color: var(--color-text-r);
	background-color: var(--color-primary-h);
	border-color: var(--color-primary-h);
}
.btn-secondary {
	background-color: var(--color-secondary);
	border-color: var(--color-secondary);
}
/******** Drop down menu *********/
.dropdown-menu {background-color:  var(--color-bg-2);}
.dropdown-item {
	color: var(--color-text);
	opacity: var(--opacity-l)
}
/******** Form *********/
.form-check-input {cursor: pointer;}
.form-check-input:checked {background-color: var(--color-primary);}
.form-check-input:focus {border-color: var(--color-primary);}
.form-control[readonly] {background-color: var(--color-bg-2);}
.form-control:focus {
	background-color: var(--color-bg-2);
	color: var(--color-text);
} 
.form-control {
	background-color: var(--color-bg-2);
	color: var(--color-text);
}
/******** Toast *********/
.toast {
	background-color: rgba(255, 255, 255, 0.95);
	color: #000;
}
